<?xml version="1.0"?>
<KO2Config>
  <extraSettings />
  <dependenciesInjection />
  <O2ConfigFile>C:\_WorkDir\TeamMentor\TeamMentor-OWASP_Master\o2.config</O2ConfigFile>
  <O2FindingsFileExtension>.O2Findings</O2FindingsFileExtension>
  <hardCodedO2LocalTempFolder>C:\O2\_tempDir\1-20-2012</hardCodedO2LocalTempFolder>
  <hardCodedO2LocalBuildDir>E:\O2\_Bin_(O2_Binaries)\</hardCodedO2LocalBuildDir>
  <hardCodedO2LocalSourceCodeDir>E:\O2\_SourceCode_O2</hardCodedO2LocalSourceCodeDir>
  <O2TempDir>C:\O2\_tempDir\1-20-2012</O2TempDir>
  <ZipppedScriptsFile>_Scripts v1.x.zip</ZipppedScriptsFile>
  <LocalScriptsFolder>C:\O2\O2Scripts_Database\_Scripts</LocalScriptsFolder>
  <LocallyDevelopedScriptsFolder>C:\O2\_XRules_Local</LocallyDevelopedScriptsFolder>
  <ScriptsTemplatesFolder>C:\O2\O2Scripts_Database\_Scripts\_Templates</ScriptsTemplatesFolder>
  <SvnO2RootFolder>http://o2platform.googlecode.com/svn/trunk/</SvnO2RootFolder>
  <SvnO2DatabaseRulesFolder>http://o2platform.googlecode.com/svn/trunk/O2_Scripts/</SvnO2DatabaseRulesFolder>
  <O2SVN_ExternalDlls>http://o2platform.googlecode.com/svn/trunk/O2 - All Active Projects/_3rdPartyDlls/</O2SVN_ExternalDlls>
  <O2SVN_Binaries>http://o2platform.googlecode.com/svn/trunk/O2_Binaries/</O2SVN_Binaries>
  <O2SVN_FilesWithNoCode>http://o2platform.googlecode.com/svn/trunk/O2 - All Active Projects/_3rdPartyDlls/FilesWithNoCode/</O2SVN_FilesWithNoCode>
  <O2DownloadLocation>http://code.google.com/p/o2platform/downloads/list</O2DownloadLocation>
  <CurrentExecutableDirectory>C:\_WorkDir\TeamMentor\TeamMentor-OWASP_Master\Web Applications\TM_Website\</CurrentExecutableDirectory>
  <CurrentExecutableFileName>CassiniDev</CurrentExecutableFileName>
  <ExecutingAssembly>C:\Users\o2\AppData\Local\Temp\Temporary ASP.NET Files\root\b3e772c4\8405727\assembly\dl3\4c9fb01b\3cfa2359_42d6cc01\O2_Kernel.DLL</ExecutingAssembly>
  <TempFileNameInTempDirectory>C:\O2\_tempDir\1-20-2012\tmp2D6D.tmp</TempFileNameInTempDirectory>
  <TempFolderInTempDirectory>C:\O2\_tempDir\1-20-2012\tmp2D7E</TempFolderInTempDirectory>
  <O2KernelAssemblyName>O2_Kernel.dll</O2KernelAssemblyName>
</KO2Config>